.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}
/* keeps whole letter div centered */
.margins {
  display: flex;
  justify-content: center;
}
/* keeps text within bg-image */
.padding {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.bg-image {
  background-image: url("images/background-paper.png");
  background-size: 100%;
}

@font-face {
  font-family: "Citadel-Script";
  /* src: url("font-styles/Citadel-Script-Std-Regular.otf") format("truetype"); */
}

.font {
  font-family: "Citadel-Script", sans-serif;
  font-size: 164%;
}
