.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.margins {
  display: flex;
  justify-content: center;
}

/* creates new line without needed the <br> tag */
/* .new-line {
  white-space: pre-line;
} */
